<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member Modify</title>
</head>
<body>

<h1>회원 정보 수정</h1>

<form th:action="@{/member/modify2/{id}(id = ${member.id})}" method="post">
    이메일 : <input type="text" name="email" th:value="${member.email}">이메일<br>
    비밀번호 : <input type="password" name = "password" th:value="${member.password}">비밀번호<br>
    이름 : <input type="text" name = "name" th:value="${member.name}">이름<br>
    <input type="submit" value="회원 정보 수정">
</form>


</body>
</html>